@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --brand-alt-aqua: #00a19a;
  --purple-main500: #231d45;
  --purple-main0: #f9f9fd;
  --gray-900: #101319;
  --grays-white: #ffffff;
  --separators-non-opaque: rgba(84, 84, 86, 0.34);
}

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

@layer components {
  .mobile-container {
    @apply max-w-md mx-auto min-h-dvh relative w-full;
  }
}