@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --brand-alt-aqua: #00a19a;
  --purple-main500: #231d45;
  --purple-main0: #f9f9fd;
  --gray-900: #101319;
  --grays-white: #ffffff;
  --separators-non-opaque: rgba(84, 84, 86, 0.34);
}

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

@layer components {
  .mobile-container {
    @apply max-w-md mx-auto min-h-dvh relative w-full;
  }

  .backgound-image {
    background-image: url('/public/images/onboarding_background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .backgound-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 1;
  }

  .backgound-image > * {
    position: relative;
    z-index: 2;
  }

  .background-video-container {
    position: relative;
  }

  .background-video-container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/public/thankyou.mp4') no-repeat center center;
    background-size: cover;
    z-index: 0;
  }

  .background-video-container::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}
